<div
  [routerLink]="['/meal-details', mealId()]"
  class="flex flex-col gap-2 rounded border w-full h-full p-3 bg-gray-300 cursor-pointer hover:border-indigo-500 transition-colors duration-200 flex-shrink-0"
>
  <div class="flex flex-row items-start gap-4 pb-2 border-b border-gray-400">
    <div class="flex-grow flex flex-col gap-2">
      <span id="meal-name" class="text-slate-800 text-sm font-semibold">{{
        mealName()
      }}</span>
      <div
        id="tag"
        class="w-max h-max px-1 py-0.5 rounded-lg bg-indigo-300 text-slate-900 text-xs font-medium"
        [ngClass]="{
          'bg-indigo-300': mealTag() === 'Breakfast',
          'bg-sky-300': mealTag() === 'Lunch',
          'bg-emerald-300': mealTag() === 'Dinner',
          'bg-gray-300':
            mealTag() !== 'Breakfast' &&
            mealTag() !== 'Lunch' &&
            mealTag() !== 'Dinner'
        }"
      >
        {{ mealTag() }}
      </div>
    </div>
    <div class="flex flex-row items-center">
      <span class="material-symbols-outlined text-slate-500 text-base">
        timer
      </span>
      <span class="text-slate-500 text-xs font-semibold">{{
        mealPrepTime()
      }}</span>
    </div>
  </div>

  <div class="flex flex-row gap-2 text-slate-600 text-xs font-semibold">
    <span>Calories: {{ mealCalories() }}</span>
    <span>Protein: {{ mealProtein() }}g</span>
    <span>Carb: {{ mealCarbs() }}g</span>
    <span>Fats: {{ mealFats() }}g</span>
  </div>
</div>
