<div class="w-full h-full overflow-auto p-2 sm:p-3 md:p-4">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 w-full"
  >
    @for (item of meals; track item.mealName) {
    <div class="w-full">
      <app-meal-card
        [mealId]="item.id"
        [mealName]="item.mealName"
        [mealTag]="item.mealTag"
        [mealPrepTime]="item.mealPrepTime"
        [mealCalories]="item.mealCalories"
        [mealProtein]="item.mealProtein"
        [mealCarbs]="item.mealCarbs"
        [mealFats]="item.mealFats"
      />
    </div>
    }
  </div>
</div>
