@if (screenWidth <= 1366 ){
<div class="flex flex-col w-full h-full bg-transparent">
  @if(showToolbar){
  <div class="static">
    <app-toolbar />
  </div>
  }
  <div class="overflow-auto grow">
    <router-outlet />
  </div>
  <div class="w-full static">
    <app-sidebar />
  </div>
</div>
}@else {
<div class="flex flex-row w-full h-full bg-transparent">
  <div class="w-1/6">
    <app-sidebar />
  </div>
  <div class="flex flex-col grow">
    @if(showToolbar){
    <app-toolbar />
    }
    <div class="overflow-auto">
      <router-outlet />
    </div>
  </div>
</div>
}
